<div ng-app="app">
  <div ng-controller="peopleCtrl" ng-init="setup()">
    <h1 class="animated hinge">Number of Awesome: {{ people.length }}</h1>
    <datalist id="names">
      <option ng-repeat="person in people">{{ person.name }}</option>
    </datalist>

    <input ng-model="filterName" list="names">
    <input ng-model="filterBio">
<!--     <div>
      <button>Order By Name</button>
      <button >Order By Bio</button>
    </div> -->
    <table>
      <tr>
        <th class="animated slideInLeft" ng-click="toggleOrder('name')">Name {{ sortArrow('name')}}</th>
        <th ng-click="toggleOrder('bio')">Bio {{ sortArrow('bio')}}</th>
        <th>Update</th>
      </tr>
      <tr ng-repeat="person in people | filter: { name: filterName, bio: filterBio } | orderBy:orderAttribute:isDescending">
        <td>{{ person.name }}</td>
        <td>{{ person.bio }}</td>
        <td>
          <button ng-click="killPerson(person)">Kill this Person</button>
          <p>Name: <input ng-model="updateName"></p>
          <p>Bio: <input ng-model="updateBio"></p>
          <button ng-click="updatePerson(updateName, updateBio, person)">Update Person</button>
        </td>
      </tr>
    </table>
<!--     <div ng-repeat="person in people | filter: { name: filterName, bio: filterBio } | orderBy:orderAttribute:isDescending">
      <p ng-click="toggleBio(person)">{{ person.name }}</p>
       <p ng-class="{purpleHippo: person.bioVisible}">{{ person.bio }}</p>
      
    </div> -->
    <ul>
      <li ng-repeat="error in errors">{{ error }}</li>
    </ul>
    <p>Name: <input ng-model="inputName"></p>
    <p>Bio: <input ng-model="inputBio"></p>
    <button ng-click="addPerson(inputName, inputBio)">Add Person</button>
  </div>
</div>